#MLBlogo{
    width: 100px;
    height: auto;
    float: left;
}

#heading1{
    color: #F5D131;
    font-size: 50px;
    margin: 0px;
    font-family: "Ubuntu";
}

header{
    text-align: center;
    background-color: navy;
    margin-top: 0px;
    padding: 20px;
}

#RaysLogo{
    width: 100px;
    height: auto;
    float: right;
}

#playerSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: "Ubuntu";
}

body{
    background-color: #8FBCE6;
    margin: 0px
}

#players{
    height: 50px;
    width: 1000px;
    font-size: 30px;
    border-radius: 10px;

}

.playerID{
    font-size: 30px;
}

label{
    font-size: 30px;
    margin-bottom: 10px;
}

