body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
header {
    display: flex;
    justify-content: center;
    font-family: "Ubuntu";
    margin-bottom: 20px;
}
  
#name-info {
    text-align: center;
}
  
#player-bio {
    margin-left: 100px;
}
  
#stat-box-container {
    display: grid;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
}

.stat-box {
    width: 100px;
    height: 100px;
    background-color: #F5D131;
    border-radius: 10px;
    font-family: "Ubuntu";
    text-align: center;
}
  
  