:root{
    --navy: #092C5C;
    --sunglow: #F5D131;
    --lightblue: #8FBCE6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: rgb(51, 51, 51)
}

header{
    text-align: center;
    background-color: #092C5C;
    margin-top: 0px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 575px;
    align-items: center;
}

.nav1 {
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
}

.nav1 .nav-el {
    color: #FFF;
    font-weight: 700;
    font-size: 1.5em;
}

.nav-el:hover {
    text-decoration: underline;
    cursor: pointer;
    /* transform: scale(1.2); */
}

.nav-el:active {
    color: darkgrey;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#mlb-logo {
    height: 75px;
    width: auto;
}

header h1 {
    font-size: 50px;
    margin: 0px;
    font-family: "Ubuntu";
    color: #fff;
}

.chart {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
}

.chart-head {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 30px;
    padding: 20px;
}

.leagues {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.league-chart{
    margin-bottom: 20px;
    width: 49%;
}

.al-heading {
    display: flex;
    height: 100px;
    background-color: #EE0A46;
    border-radius: 5px;
    margin-bottom: 2px;
}

.nl-heading {
    display: flex;
    height: 100px;
    background-color: #0E4082;
    border-radius: 5px;
    margin-bottom: 2px;
}

#al-logo {
    height: 80px;
    width: auto;
    margin: 10px;
}

#nl-logo {
    height: 80px;
    width: auto;
    margin: 10px;
}

.al-heading p {
    color: #fff;
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.nl-heading p {
    color: #fff;
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.division-head {
    background-color: #DCDCDC;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 0px 10px 0px 10px;
    padding-left: 20px;
    /* border: 1px solid #000; */
}

.division-head button {
    height: auto;
    width: 50px;
}

.division-head p{
    margin-top: auto;
    margin-bottom: auto;
}

.division-table {
    margin-bottom: 10px;
}
.division-table th {
    padding-left: 20px;
    /* height: 20px; */
}

.division-table td {
    padding-left: 20px;
    /* height: 20px; */
}

.chart button {
    cursor: pointer;
}