<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles_home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu&display=swap" rel="stylesheet">
    <title>MLB Player Cards</title>
</head>
<body>
    <header>
        <img id="MLBlogo" src="Major_League_Baseball_logo.png" alt="MLB Logo">
        <img id="RaysLogo" src="rays_logo.png" alt="Tampa Bay Rays Logo">
        <h1 id="heading1">Rays Player Cards</h1>
    </header>
    <form id="playerSelect" action="/player" method="GET">
        <label for="player">Choose a player:</label>
        <select name="players" id="players">
            <option class="playerID" value="WanderFranco">Wander Franco</option>
            <option class="playerID" value="RandyArozarena">Randy Arozarena</option>
            <option class="playerID" value="YandyDiaz">Yandy Diaz</option>
            <option class="playerID" value="BrandonLowe">Brandon Lowe</option>
        </select>
    </form>
</body>
</html>